<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Year Column -->
    <ng-container matColumnDef="year/month">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Year/Month</th>
      <td mat-cell *matCellDef="let row">{{row.year}}/{{row.month}}</td>
    </ng-container>

    <!-- Mined Column -->
    <ng-container matColumnDef="mined">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mined</th>
      <td mat-cell *matCellDef="let row">{{row.mined}}</td>
    </ng-container>

    <!-- Mined Column -->
    <ng-container matColumnDef="expect">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>expect</th>
      <td mat-cell *matCellDef="let row">{{row.expect}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
