<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false ">
    <mat-toolbar>View</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active">Chart</a>
      <a mat-list-item routerLink="/table" routerLinkActive="active">Table</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="app-title">{{title}}</span>

        <span class="spacer"></span>

        <mat-form-field>
          <mat-label>Select farm</mat-label>
          <mat-select (selectionChange)="switchPlant()" [(value)]="selectedId">
            <mat-option *ngFor="let plant of plants" value="{{plant.id}}">{{plant.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-toolbar-row>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
